/* aici o sa fie index.html si navigatia + despre mine + contact */
* {
  font-size: 20px;
}

section {
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #ffccb9;
  padding: 10px;
  margin: 30px;
}


.main-container {

  width: 100%;
  
}

.main_title {
  font-size: 32px;
}

.nav-a, .ul-index, .li-index
{
  background-color: black;
  list-style-type: none;
  float: right;
  padding: -25px;
  margin: 8px;
  font-size: 20px;
}


.nav-a {
  text-decoration: none;
  color: #fff;
  margin-right: 60px;
}


#prima_sectiune {
  float: right;
  color: blue;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid rgb(29, 22, 14);
}

/* am centrat textul cu text-align: center */

#prima_sectiune p {
  font-size: 18px;
  text-align: center;
  
}

#a_doua_sectiune p {
  text-align: center;
  font-size: 19px;

  
} 



/* 
#a_doua_sectiune {
  margin: 0 auto;
  float: none;
} */

.nume_sectiune,
.nume_statut {
  color: red;
  font-size: 18px;
}

.logo {
  float: left;
}

h1 {
  text-align: center;
  font-weight: bold;
}

/* Mai jos am o versiune alternativa de aranjare a celei de-a doua sectiuni cu float, dar intrucat nu am reusit sa centrez containerul principal, am incercat cu flexbox si am pastrat versiunea flexbox  */

/* .header_nav_wrapper {
  background-color: blue;
} */

/* /////////////////////////////////////// */
/* #text_a_doua_sectiune {
  float: right;
  box-sizing: border-box;
  border-right: 1px solid gray;
  width: 500px;
  padding: 0 10px 0 0;
  margin-bottom: 30px;
  vertical-align: top;
}

#prima-foto {
  width: 300px;
  float: right;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
}

#prima-foto img {
  width: 300px;
  padding: 30px 0 30px 10px;
  border-radius: 120px;
  display: inline-block;
  /* vertical-align: middle; */
} */

.section-2-column {
  justify-content: center;
  align-items: center;

}

.row {
  display: flex;
  flex-direction: row;
}

.content-container {
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 30px;
  border: 1px solid rgb(29, 22, 14);
}

.first-col-left, .first-col-rigth {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.prima-foto img {
  border-radius: 120px;
  width: 300px;
  height: auto;
}

.text_a_doua_sectiune {
  width: 50%;
  margin-left: 40px;
}

/*?FOOTER ////////////////////////////////// */

.footer {
  font-size: 20px;
  background-color: black;
  color: bisque;
  clear: right;
  padding: 20px;

}

.titlu_footer {
  float: right;
  margin-right: 242px;
}

.footer,
.footer-a,
.li,
.ul {
  /* background-color: black; */
  list-style-type: none;
  float: right;
  font-size: 20px;
}

.copyright {
  font-size: 20px;
  color: #fff;
}

.footer-a {
  text-decoration: none;
  color: #fff;
  margin-right: 60px;
}

/*?Stilizare Termeni si conditii/////////// */

.titlu-termeni {
  font-size: 24px;
  font-style: bold;
}

.main-termeni {
  margin: 10px 40px;
  padding: 20px;
  font-size: 20px;
  line-height: normal;
  
}

.termeni-front-text {
  text-align: center;
  width: 100%;
  background-color: bisque;
  border: 1px solid rgb(143, 109, 109);
}

.termeni-front-text-wrapper {
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dt-termeni {
  font-weight: bold;
  size: 32px;
}

.list-termeni {
  clear: right;
}

/*?DESPRE MINE////////////////////////// */

.a-profiluri-sociale {
  text-decoration: none;
  color: rgb(114, 13, 13);
}

.imagine_cv_wrapper {
  clear:both;
  padding-top:50px ;
}

.main-container-despre-mine {
  border: 1px solid rgb(29, 22, 14);
}

.despre-mine-body {
  padding-left: 30px;
}

.sectiunea_cv_wrapper {
  padding-left: 70px;
}

.logo {
  padding-left: 20px;
}

.despre-mine-nav {
  margin-right: 30px;
}



/*? /Portofoliu///////////////////////// */

.portofolio-wrapper {
  clear: both;
  margin: 30px;
}

.titlu_portofoliu {
  padding-top: 50px;
  padding-bottom: 30px;
}

.a-portofoliu {
  text-decoration: none;
  color: rgb(114, 13, 13);
  font-weight: bold;
}

.nota {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nota_portofoliu {
  padding-bottom: 30px;
}


